---
import Navbar from "../component/Navbar.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>MACHUKHA - {title}</title>
  </head>
  <body class="bg-stone-900 font-sans text-white">
    <Navbar />

    <slot />
  </body>
  <style is:global>
    .small-caps {
      font-variant-caps: small-caps;
    }
    a {
      @apply cursor-pointer text-white hover:text-gray-300;
    }

    [x-cloak] {
      display: none !important;
    }
  </style>
</html>
