---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>MACHUKHA - {title}</title>
  </head>
  <body class="bg-gray-900 font-sans text-white">
    <slot />
  </body>
  <style is:global>
    .small-caps {
      font-variant-caps: small-caps;
    }
    a {
      @apply cursor-pointer font-semibold text-white hover:text-gray-300;
    }
    @starting-style {
      .animate-in-opacity {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
    }
    .animate-in-opacity {
      opacity: 1;
    }
  </style>
</html>
